<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/upload", method = 'POST' enctype="multipart/form-data">
        <div class = "form-group row">
            <label for = "cover_photo" class = "col-sm-3 col-form-label">Cover Photo:</label>
            <input type = "file" class = "form-control col-sm-6" name = "cover_photo" accept="image/*">
            <input type = "submit" value = "add image">
        </div>
    </form>
</body>
</html>