<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <container>
        <div class = "bg-secondary text-light">
            <h1 class = "text-center">All The Pets!</h1>
            <table class = "table">
                <thead class = "thead-dark">
                    <tr>
                        <th scope = "col">ID</th>
                        <th scope = "col">Name</th>
                        <th scope = "col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for one_pet in all_pets %}
                    <tr>
                        <th scope = "row">{{one_pet["pet_id"]}}</th>
                            <td>{{one_pet["name"]}}</td>
                            <td>{{one_pet["type"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        <h1 class = "text-center">Add Pet</h1 class>
            <form action = "/add_pet" method = "POST">
                <div class = "form-group row col-4 offset-4">
                    <label for="pname" class = "col-sm-2 col-form-label">Name</label>
                    <input type = "text" class = "form-control" name = "pname">
                    <label for="ptype" class = "col-sm-2 col-form-label">Type</label>
                    <input type = "text" class = "form-control" name = "ptype">
                    <input class = "offset-5" type = "submit" value = "Add Pet">
                </div>
            </form>
    </div>
</container>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>